/* Mugunthan Udayan's Website */
/* REV 02 */

/* <HEAD> Tag */


/* <BODY> Tag */

body{
	background-color: #EAFDFC;
	text-align: center;
}
p{
	font-family: 'Merriweather', serif;
	font-style: italic;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color: #146C94;
}
.body{
	
}
.intro{
	margin: 250px auto 150px auto;
	color: #557153;
}
.name{
	margin-bottom: 50px;
	font-size: 4rem;
	font-family: "Times New Roman", serif;
	font-style: italic;
}
.engineer{
	font-size: 2rem;
}
.lasercuttingmachine{
	height: 25%;
	width: 25%;
	margin: 0 auto 100px auto;
}
.gear1{
	position: absolute;
	top: 100px;
	left: 85%;
}
.gear2{
	position: absolute;
	top: 450px;
	left: 200px;
}
.aboutme{
	margin: 25px auto 25px auto;
	color: #557153;
	font-size: 1.75rem;
}
.skillset1{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	font-size: 1rem;
}
.CAD{
	float: left;
	margin-right: 30px;
}
.skillset2{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	font-size: 1rem;
}
.CAM{
	float: right;
	margin-left: 30px;
}
.skillset3{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	font-size: 1rem;
}
.FEA{
	float: left;
	margin-right: 30px;
}
.skillset4{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	font-size: 1rem;
}
.CFD{
	float: right;
	margin-left: 30px;
}
.resume{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	font-size: 1rem;
}
.CV{
	float: left;
	margin-right: 30px;
}
.vitae{
	color:  #11999E;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
.vitae:hover{
	color: #FFAACF;
}
.footer{
	background-color: #93BFCF;
	height: 100px;
	padding: 30px 0 5px 0;
	margin: 40px 0 0 0;
}
.footerlink{
	/* color:  #11999E; */
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}
.footerlink:hover{
	color: #EAF6F6;
}
.copyright{
	margin-top: 40px;
	color: #EAF6F6;
	font-size: 0.75rem;
}